body {
  background-color: rgba(149, 149, 163, 0.417);
}
.calculadora {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #364d6b;
    width: 66%;
    height: 90%;
    border-radius: 25px;
    
  }
  .calculadora td button {
    display: block;
    width: 140px;
    height: 170px;
    font-size: 55px;
  }
  #resultado {
    display: block;
    background-color: white;
    margin: 15px 18px;
    width: 550px;
    height: 160px;
    border-radius: 10px;
    text-align: center;
    overflow-y: scroll;
    font-size: 60px;
    line-height: 155px;
  }


@media screen and (min-width: 640px){
    .calculadora {
        display: block;
        margin: 0 auto;
        padding: 20px;
        background-color: #364d6b;
        width: 500px;
        height: 650px;
        border-radius: 25px;
        
      }
      
      .calculadora td button {
        display: block;
        width: 100px;
        height: 100px;
        font-size: 30px;
      }
      
      
      #resultado {
        display: block;
        background-color: white;
        margin: 15px 18px;
        width: 400px;
        height: 100px;
        border-radius: 10px;
        text-align: center;
        overflow-y: scroll;
        font-size: 60px;
        line-height: 155px;
      }   

}
#firma {
  text-align: center;
  padding: 22px 0px;
  color: antiquewhite;
}

#reset {
  font-size: 40px;
  background-color: #adb6c3;
}

